<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eamon.zhuiqiu.news.dao.LiveDao">

	<resultMap id="BaseResultMap" type="com.eamon.zhuiqiu.news.entity.Live">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="themeId" property="themeId" jdbcType="INTEGER" />
		<result column="headPic" property="headPic" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="subTitle" property="subTitle" jdbcType="VARCHAR" />
		<result column="keywords" property="keywords" jdbcType="VARCHAR" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="clickNum" property="clickNum" jdbcType="INTEGER" />
		<result column="isFinished" property="isFinished" jdbcType="TINYINT" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
	<select id="selectAll" resultMap="BaseResultMap" parameterType="com.eamon.zhuiqiu.news.entity.Live">
		select * from live where isDelete=false
	</select>
	
	<select id="selectByThemeId" resultMap="BaseResultMap" parameterType="com.eamon.zhuiqiu.news.entity.Live">
		select * from live where isDelete=false and themeId=#{themeId}
	</select>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="int">
		select * from live 
			where id = #{id} and isDelete=false
	</select>
	
	<insert id="insertNewLive" useGeneratedKeys="true" keyProperty="id" parameterType="com.eamon.zhuiqiu.news.entity.Live">
		insert into live(themeId,headPic,title,subTitle,keywords,des) 
			values(#{themeId},#{headPic},#{title},#{subTitle},#{keywords},#{des})
	</insert>
	
	<update id="updateById" parameterType="com.eamon.zhuiqiu.news.entity.Live">
		update live
		set themeId=#{themeId},headPic=#{headPic},title=#{title},subTitle=#{subTitle},keywords=#{keywords},des=#{des}
		where id = #{id}
	</update>
	
	<update id="deleteById" parameterType="int">
		update live
		set isDelete=true
		where id = #{id}
	</update>

</mapper>
