<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eamon.zhuiqiu.lesson.dao.LessonDao">

	<resultMap id="BaseResultMap" type="com.eamon.zhuiqiu.lesson.entity.Lesson">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="creatorId" property="creatorId" jdbcType="INTEGER" />
		<result column="lessonName" property="lessonName" jdbcType="VARCHAR" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="tags" property="tags" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
		<result column="peopleNum" property="peopleNum" jdbcType="INTEGER" />
		<result column="week" property="week" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		
		<result column="timeStart" property="timeStart" jdbcType="TIMESTAMP" />
		<result column="timeEnd" property="timeEnd" jdbcType="TIMESTAMP" />
		<result column="joinStart" property="joinStart" jdbcType="TIMESTAMP" />
		<result column="joinEnd" property="joinEnd" jdbcType="TIMESTAMP" />
		
		<result column="dateStart" property="dateStart" jdbcType="TIMESTAMP" />
		<result column="dateEnd" property="dateEnd" jdbcType="TIMESTAMP" />
		
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertNewLesson" useGeneratedKeys="true" keyProperty="id" parameterType="com.eamon.zhuiqiu.lesson.entity.Lesson">
		insert into lesson(creatorId,lessonName,location,tags,peopleNum,image,des,contact,week,price,timeStart,timeEnd,joinStart,joinEnd,dateStart,dateEnd)
			values(#{creatorId},#{lessonName},#{location},#{tags},#{peopleNum},#{image},#{des},#{contact},#{week},#{price},#{timeStart},#{timeEnd},#{joinStart},#{joinEnd},#{dateStart},#{dateEnd})
	</insert>
	
	
	<select id="selectById" parameterType="int" resultMap="BaseResultMap">
		select * from lesson
			where 
				isDelete=false and id=#{id}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select * from lesson 
			where isDelete=false
			order by id desc limit #{start},#{rows}
	</select>
	

	<select id="selectUserLesson" parameterType="int" resultMap="BaseResultMap">
		select * from lesson where isDelete=false and 
			id in (select activityId from activity_join where isDelete=false and userId=#{userId} )
	</select>

	<select id="selectClubLesson" parameterType="int" resultMap="BaseResultMap">
		select * from lesson where  isDelete=false and 
			id in (select lessonId from club_lesson where isDelete=false and clubId=#{clubId})
	</select>
	

</mapper>
